@{ ViewData["Title"] = "Board of the day"; }
<div class='container mt-4'>
    <div class='row row-cols-4'>
        <div class='col-lg-12 col-sm-12 mb-4 text-center'>
            <div class='card h-100 cardStyles'>
                <img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/700x250' alt=''>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <a href='#'>Placeholder - Placeholder</a>
                    </h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-12 col-sm-12 mb-4 text-center'>
            <div class='card h-100 cardStyles'>
                <img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/700x250' alt=''>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <a href='#'>Placeholder - Placeholder</a>
                    </h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>        <div class='col-lg-12 col-sm-12 mb-4 text-center'>
            <div class='card h-100 cardStyles'>
                <img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/700x250' alt=''>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <a href='#'>Placeholder - Placeholder</a>
                    </h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
    </div>
</div>