@{ ViewData["Title"] = "Board of the day"; }
<div class='container mt-4'>
    <div class='row row-cols-4'>
        <div class='col-lg-12 col-sm-12 mb-4 text-center'>
            <div class='card h-100 cardStyles'>
                <img class='card-img-top card-post-styles crd-rounded' src='https://www.warwickshire-pcc.gov.uk/wp-content/uploads/2020/09/1500x500.jpg' alt=''>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <a href='#'>Covid Rules have changed</a>
                    </h4>
                    <p class='card-text'>Rememeber to keep up to date with the latest rules, and stay safe.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-12 col-sm-12 mb-4 text-center'>
            <div class='card h-100 cardStyles'>
                <img class='card-img-top card-post-styles crd-rounded' src='https://thepitch.uk/app/uploads/2016/08/Government-support-for-small-businesses-1500x500.jpg' alt=''>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <a href='#'>PoloticsSOC - Annual Debate</a>
                    </h4>
                    <p class='card-text'>This thursday is the yearly debate pop down to join in.</p>
                </div>
            </div>
        </div>        <div class='col-lg-12 col-sm-12 mb-4 text-center'>
            <div class='card h-100 cardStyles'>
                <img class='card-img-top card-post-styles crd-rounded' src='https://nitter.pussthecat.org/pic/profile_banners%2F1290016514045808642%2F1597437188%2F1500x500' alt=''>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <a href='#'>BoardGameSOC - Eldritch Horror</a>
                    </h4>
                    <p class='card-text'>This weeks board game is eldritch horror! A Cthulhu based board game. </p>
                </div>
            </div>
        </div>
    </div>
</div>