@model _500084_ACW_2021_Web_Application.Models.User_Model
<div class="card">
    <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">Subscripitions</a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Afro_Caribbean_society" name="Afro_Caribbean_society" value="Afro Caribbean society">
                <label class="custom-control-label" for="Afro_Caribbean_society">Afro Caribbean society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Amnesty_society" name="Amnesty_society" value="Amnesty society">
                <label class="custom-control-label" for="Amnesty_society">Amnesty society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Anime_society" name="Anime_society" value="Anime society">
                <label class="custom-control-label" for="Anime_society">Anime society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Arts_and_crafts_society" name="Arts_and_crafts_society" value="Arts and crafts society">
                <label class="custom-control-label" for="Arts_and_crafts_society">Arts and crafts society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Big_Band_society" name="Big_Band_society" value="Big Band society">
                <label class="custom-control-label" for="Big_Band_society">Big Band society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Biochemistry_society" name="Biochemistry_society" value="Biochemistry society">
                <label class="custom-control-label" for="Biochemistry_society">Biochemistry society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Biomedical_society" name="Biomedical_society" value="Biomedical society">
                <label class="custom-control-label" for="Biomedical_society">Biomedical society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Board_game_society" name="Board_game_society" value="Board game society">
                <label class="custom-control-label" for="Board_game_society">Board game society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Book_and_film_society" name="Book_and_film_society" value="Book and film society">
                <label class="custom-control-label" for="Book_and_film_society">Book and film society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Catholic_society" name="Catholic_society" value="Catholic society">
                <label class="custom-control-label" for="Catholic_society">Catholic society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Christian_society" name="Christian_society" value="Christian society">
                <label class="custom-control-label" for="Christian_society">Christian society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Computer_science_society" name="Computer_science_society" value="Computer science society">
                <label class="custom-control-label" for="Computer_science_society">Computer science society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Conservative_association_society" name="Conservative_association_society" value="Conservative association society">
                <label class="custom-control-label" for="Conservative_association_society">Conservative association society</label>
            </div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="Criminology_society" name="Criminology_society" value="Criminology society">
                <label class="custom-control-label" for="Criminology_society">Criminology society</label>
            </div>

            <!--
                            Crystal clear society
                            Darts society
                            Disney and Pixar society
                            Doctor who society
                            Drama society
                            Duke of Edinburgh society
                            Enactus society
                            English society
                            Eternity society
                            Extreme Ironing society
                            Forensic society
                            Gaming society
                            Gardening society
                            Geography society
                            Hindu society
                            Hullfire newspaper society
                            HYMS acute card and anaesthetics society
                            HYMS dermatology society
                            HYMS physician associate society
                            HYMS trauma and orthopaedics society
                            International society
                            Islamic society
                            JAM radio society
                            Korean culture society
                            Kuwaiti students society
                            Labour club society
                            Law society
                            Liberal democrats society
                            Links society
                            Malaysian student association society
                            Mathematics society
                            Medsoc society
                            Mental health society
                            Music society
                            Nursing society
                            Pakistan society
                            Paramedic society
                            Pokémon society
                            Politics society
                            Psychology society
                            Raising and giving society
                            Robotics society
                            Rock society
                            Surgical society
                            Tamil and Mallu society
                            Torch tv
                            Wargames and roleplay society
                            Wilderness medicine society
                            Zoology society
            -->
        </div>
    </div>
</div>
<div class="form-group">
    <input type="submit" value="CREATEUSER" class="btn btn-info" />
</div>
<div class="card-footer">
    <div class="d-flex justify-content-center links">
        <a asp-action="Index"> Already have an account? Click me here to sign in</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
