@{ ViewData["Title"] = "More"; }

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">More</h1>
    <p class="lead">Add description here</p>
</div>
<div class="container-fluid mt-4">
    <div class="row row-cols-3">
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://cdn2.hubspot.net/hubfs/1484553/webchatwebopt-700x400.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Computer Science - Hackathon</a>
                    </h4>
                    <p class="card-text">This week is the Hackathon, can you build a game over a week ?? </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://images.mmorpg.com/images/heroes/features/11402.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">WARPS - gm's pitch</a>
                    </h4>
                    <p class="card-text">Want to join fight mystical creatures in a snowy mountain or join a fairytale adventure ? dont miss your chance to joina RP game!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://www.getintonewcastle.co.uk/images/img/Plantopia%203%20700%20x%20400.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">GardeningSOC - Social</a>
                    </h4>
                    <p class="card-text">this weeks social is succulent based! and dont forget to bring your house plants</p>
                </div>
            </div>
        </div>
    </div>
</div>