@{ ViewData["Title"] = "More"; }
<div class='container-fluid mt-4'>
    <div class='row row-cols-4'>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div> 
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div> 
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div> 
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div> 
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div> 
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://via.placeholder.com/1400x800' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Placeholder - Placeholder</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non tempor ex, ac feugiat diam. Proin auctor ipsum aliquet mollis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
