@{ ViewData["Title"] = "More"; }
<div class='container-fluid mt-4'>
    <div class='row row-cols-4'>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://d18lkz4dllo6v2.cloudfront.net/cumulus_uploads/entry/38947/700x400-yougov-[us%20and%20uk]-match-fixing-nov-2021.jpg' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>GamingSOC - Social </h4>
                    <p class='card-text'>This week marks the release of a new adventure of master chief ! lets coop the campaign. </p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://film-book.com/wp-content/uploads/2020/12/disney-plus-logo-01-700x400-1.png' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>DisneySoc - Viewing </h4>
                    <p class='card-text'>This weeks film is Luca! a beautiful film come watch !! </p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://lh3.googleusercontent.com/proxy/C_T5q1_3qP54nC4jazri0d2zjGgU-2Xrk9Tq7ZYhEBvqoo1CAiA-AHiOYtEcGGd9QGdXGpdWfXXxye8OogjKdxT-CHTQ11uO5EzxqGwEAJI5JJ7C0IK5mP6qndhMYO3BB4dZGP32rkKIz3_3f00' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>MentalHealthSoc - Monthly Feel good day</h4>
                    <p class='card-text'>Come join us in the library to have a small get together celebrate what we love bout our selves.</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://nintendobserver.com/wp-content/uploads/2020/03/ER0U_DzU0AArjl8-700x400.jpg' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>PokeSoc - Pokemon day </h4>
                    <p class='card-text'>Its finally here ! pokemon day is here and we are celebrating come join us thursday</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://buzzechos.com/wp-content/uploads/2021/10/pexels-photo-1462630-9-1400x800.jpeg' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>CourseWork Due - ACW500084</h4>
                    <p class='card-text'>Reminder coursework for this module is due - 14/12/21</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://techsprohub.com/wp-content/uploads/2021/08/image-8-1400x800.jpeg' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>RobotSOC - Christmas meal </h4>
                    <p class='card-text'>Final social of the year OGM this friday!</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://mojo-nation.com/wp-content/uploads/2018/03/PlayFusion.jpg' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>WARPS - Sigmar Social </h4>
                    <p class='card-text'>Come join this saturday for a few games of sigmar! </p>
                </div>
            </div>
        </div> 
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://www.testpreptraining.com/image/catalog/categories/Cloud-Computing.jpg' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Exam dates Posted</h4>
                    <p class='card-text'>Check your timetable as the dates for upcoming exams have just been published.</p>
                </div>
            </div>
        </div> 
        <div class='col-lg-4 col-sm-6 mb-4 text-center'>
            <div class='card h-100'>
                <a href='#'><img class='card-img-top card-post-styles crd-rounded' src='https://www.waddesdonschool.com/wp-content/uploads/2018/02/Geography.png' alt='Placeholder img'></a>
                <div class='card-body'>
                    <h4 class='card-title'>Geography - Social</h4>
                    <p class='card-text'>Drinks from you favourite country this week ! come grab a pint with us this thursday at Sanctuary. </p>
                </div>
            </div>
        </div> 
    </div>
</div>
