/*           STYLESHEET
    500084_ACW_2021_Web_Application
*/
/* body, HTML */
html {
    position: relative;
    font-size: 16px;
    color: #f5f5f5 !important;
}
.h1 .h2 .h3 .h4 .h5 .h6 {
    font-family: 'lato', sans-serif;

}
p{
    font-weight:100;
}
@media (min-width: 768px) {
    html {
        font-size: 1.2rem;
    }
}
body {
    background-color:#f5f5f5;
}


/* Navbar Styling  */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.navbar {
    background-color: transparent !important;
    padding-top: 0px;
}

    .navbar ul li:hover {
        background-color: rgb(1,130,138) !important;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.4s;
        border-radius: 0px 0px 10px 10px;
    }

    .navbar ul li a:hover {
        color: #f5f5f5!important;
    }

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* footer styles */



.page-footer {
    background-color: rgb(1,130,138) !important;
    color: #f5f5f5 !important;
}




/* Jumbotron styles */

.jumbotron {
    margin-top: 0px;
    background-color: rgb(1,130,138) !important;
    color: #f5f5f5 !important;
}

    .jumbotron h1 {
        padding-left: 40px;
    }

    .jumbotron p {
        padding-left: 40px;
    }


/* MISC */

.border {
    border-style: solid !important;
    border-width: 5px !important;
    background-color: rgb(1,130,138) !important;
    color: #f5f5f5 !important;
}

.border-top {
    border-top: 1.5px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1.5px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#noSpacing {
    padding: 0px !important;
    margin: 0px !important;
}

.carousel-caption {
    max-width: 100%;
    width: 100%;
    background-color: rgb(190,77,1);
    left: 0;
    top: auto;
    bottom: 0;
}


.card-post-styles{
    border-radius: 25px 25px 0 0 !important;
}


.card {
    background-color: rgb(1,130,138) !important;
    border-color: rgb(206,2,88) !important;
    border-radius: 25px;
}
.card-text {
    color: #f5f5f5 !important;
}
.card-glow{
}

a {
    color: #f5f5f5 !important;
    font-size: 1.3rem;
}

.btn-primary {
    color: #f5f5f5 !important;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #f5f5f5 !important;
    background-color: #1b6ec2;
    border-color: #1861ac;
}